* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(/assets/bag-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highligth-color: rgba(2550, 255, 255, 0.02);
  --swith-br-url: url(/assets/moon-star.svg);
}

.ligth {
  --text-color: black;
  --bg-url: url(/assets/bag-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highligth-color: rgba(2550, 255, 255, 0.02);
  --swith-br-url: url(/assets/moon-star.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*Perfil*/

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-heigt: 24px;
  max-top: 8px;
}

#profile a {
  text-decoration: none;
}

/* switch*/

#switch {
  position: relative;
  width: 645px;
  margin: 4px auto;
}

#switch {
  white: 32px;
  height: 32px;
  background: white var(--swith-br-url) no-repeat center;
  border: 0;
  border-radius: 50%;
}
